@import "@styles/Variables.scss";

#admin-panel {
  width: 100%;
  min-height: 100vh;
  background-color: $main-color;
  padding-top: 50px;
  font-family: $font-family-text;

  .adminFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 250px);
    width: 70%;
    height: 100vh;
    margin: auto;

    #adminMenuTitle {
      padding: 10px 0;
      font-size: 22px;
      font-weight: bold;
      background-color: #5abdb2;
      width: 100%;
      text-align: center;
      border-radius: 3px 3px 0 0;
      margin-bottom: 20px;
    }

    .adminSubContainer {
      display: flex;
      border: 2px solid #f0f0f0;
      border-radius: 3px 3px 0 0;
      width: 100%;
      height: 100%;

      .adminLeft {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 2px solid #f0f0f0;
        align-items: center;

        #userCreationTitle {
          padding: 10px 0;
          font-size: large;
          font-weight: bold;
          background-color: #b3b3b3;
          width: 100%;
          text-align: center;
        }

        form {
          width: 70%;

          input {
            text-align: center;
            width: 100%;
          }
          select {
            text-align: center;
            width: 100%;
            border: 1px solid $secondary-color;
            border-radius: 15px;
            height: 40px;
            margin-bottom: 15px;
          }
          #createUserButton {
            border: 2px solid $secondary-color;
            background-color: $secondary-color;
            border-radius: 18px;
            margin: 0 auto;
            padding: 2px 25px 0;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            width: 240px;
            transition: 0.3s;
            &:hover {
              background-color: $main-color;
              color: $white;
              transition: 0.3s;
            }
          }
        }
      }
      .adminRight {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 2px solid #f0f0f0;

        #adminBoardTitle {
          padding: 10px 0;
          font-size: large;
          font-weight: bold;
          background-color: #b3b3b3;
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}
