@import "@styles/Variables.scss";

#admin-panel {
  width: 100%;
  min-height: 100vh;
  background-color: $main-color;
  padding: 20px 0;
  font-family: $font-family-text;

  .adminFlexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: calc(100% - 250px);
    width: 70%;
    height: 85%;
    margin: calc((100% - 85%) / 2) auto calc((100% - 90%) / 2) 225px;

    #adminMenuTitle {
      padding: 10px 0;
      font-size: 22px;
      font-weight: bold;
      background-color: #5abdb2;
      width: 100%;
      text-align: center;
      border-radius: 1rem;
      margin-bottom: 20px;
    }

    .adminSubContainer {
      display: flex;
      border-radius: 3px 3px 0 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;

      .adminLeft {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 2px solid #f0f0f0;
        align-items: center;
        border-radius: 1rem 0 0 1rem;

        #userCreationTitle {
          padding: 10px 0;
          font-size: large;
          font-weight: bold;
          background-color: #b3b3b3;
          width: 100%;
          text-align: center;
          border-radius: 1rem 0 0 0;
        }

        form {
          width: 70%;
          padding: 20px;

          input {
            width: 100%;
            border: 1px solid #e79759;
            margin: 0 auto 0.7rem auto;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            display: block;
            text-align: center;
            font-size: 1.1rem;
            color: black;
            font-weight: 300;
          }

          select {
            text-align: center;
            width: 100%;
            border: 1px solid $secondary-color;
            border-radius: 15px;
            height: 40px;
            margin-bottom: 15px;
          }
          #createUserButton {
            border: 2px solid $secondary-color;
            background-color: $secondary-color;
            border-radius: 18px;
            margin: 0 auto;
            padding: 2px 25px 0;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
            width: 240px;
            transition: 0.3s;
            &:hover {
              background-color: $main-color;
              color: $white;
              transition: 0.3s;
            }
          }
        }
      }
      .adminRight {
        display: flex;
        flex-direction: column;
        width: 50%;
        border: 2px solid #f0f0f0;
        border-radius: 0 1rem 1rem 0;

        #adminBoardTitle {
          padding: 10px 0;
          font-size: large;
          font-weight: bold;
          background-color: #b3b3b3;
          width: 100%;
          text-align: center;
          border-radius: 0 1rem 0 0;
        }

        #adminMessages {
          display: flex;
          flex-direction: column;
          padding: 5px;

          li {
            width: 90%;
            margin: 10px auto;
            border: 1px solid #e79759;
            border-radius: 1rem;
            padding: 10px;
            color: white;
            background-color: #e79759;
          }
        }
      }
    }
  }
}
