.filter {
  width: 25%;
  height: 100%;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  right: -25%;
  position: absolute;
  z-index: 200;

  h1 {
    font-size: 3rem;
    font-weight: 200;
    color: #586994;
  }

  .searchbar {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }

  input {
    padding: 0.3rem;
  }
}

.go-left {
  animation: slideIn 0.4s ease 0.2s both;
}

@keyframes slideIn {
  to {
    transform: translateX(-100%);
  }
}
