#common-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  left: 100px;
  min-width: 399px;
  max-width: 1200px;
  border-radius: 50%;

  .common-box {
    justify-content: center;
    width: 60%;
    height: 84vh;
    background: #f0f0f017;
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    z-index: 1;
  }

  .common-cross {
    width: 5%;
    margin: 0 auto;
  }
}
