@keyframes openModal {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.common-box {
  justify-content: center;
  position: absolute;
  background: #f0f0f0;
  padding: 1rem;
  border-radius: 100%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  z-index: 1;
  animation: openModal 0.6s ease-in both;
}

.common-cross {
  width: 5%;
  margin: 0 auto;
  color: black;
}
.modal-close-button {
  position: absolute;
}
